<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>All users</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark" align="left">
        <div class="navbar-brand">
            <font color="white">
                <b th:text="${admin.getUsername()}"></b>
                <span> with Role: </span>
                <span th:each="role : ${admin.getRoles}">
        <span th:text="${role}"></span>
      </span>
            </font>

        </div>
        <font color="silver" align="right">
            <a href="/login"><font color="silver">Logout</font></a>
        </font>
    </nav>
</header>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group row step">
                    <a th:href="@{/}" class="list-group-item list-group-item-action active">
                        Admin
                    </a>
                    <a th:href="@{/user}" class="list-group-item list-group-item-action ">
                        User
                    </a>
                </div>
            </div>

            <div class="col-md-10 min-vh-100 bg-light step">


                <h1><b>Admin panel</b></h1>

                <div class="tab-content" id="tabContent">

                    <ul class="nav nav-tabs">
                        <a class="nav-link active" data-toggle="tab">Users Table</a>
                        <a class="nav-link" th:href="@{/create-user}">New User</a>
                    </ul>

                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="card">
                            <h4 class="card-header"><b>All Users</b></h4>

                            <table class="table table-striped cage">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.id}">id</td>
                                    <td th:text="${user.name}">name</td>
                                    <td th:text="${user.lastName}">lastname</td>
                                    <td th:text="${user.username}">username</td>
                                    <td th:text="${user.age}">age</td>
                                    <td th:text="${user.email}">email</td>
                                    <td>
                                                     <span class="text-uppercase"
                                                           th:each="role : ${user.roles}">
                                                     <a class="text-uppercase" th:text="${role}"></a>
                                                     </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                th:data-target="${'#edit' + user.id}">Edit
                                        </button>

                                        <div class="modal" th:id="${'edit' + user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form th:action="@{/{id}(id=${user.id})}"
                                                          th:object="${user}" th:method="PATCH">

                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="exampleModalLabel">Edit
                                                                user</h4>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">x
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="form-group row justify-content-center text-center">
                                                                <div class="col-sm-6">

                                                                    <label for="id"><b>Id</b></label>
                                                                    <br/>
                                                                    <input
                                                                            type="number"
                                                                            class="form-control"
                                                                            th:value="${user.id}"
                                                                            id="id"
                                                                            name="id"
                                                                            readonly>
                                                                    <br/>

                                                                    <label for="name"><b>Name</b></label>
                                                                    <br/>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="name"
                                                                           th:value="${user.name}"
                                                                           id="name">
                                                                    <br/>

                                                                    <label for="lastName">LastName</label>
                                                                    <br/>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="lastName"
                                                                           th:value="${user.lastName}"
                                                                           id="lastName">
                                                                    <br/>

                                                                    <label for="username">Username</label>
                                                                    <br/>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="username"
                                                                           th:value="${user.username}"
                                                                           id="username">
                                                                    <br/>

                                                                    <label for="password">Password</label>
                                                                    <br/>
                                                                    <input type="password"
                                                                           class="form-control"
                                                                           th:value="${user.password}"
                                                                           name="password"
                                                                           id="password">
                                                                    <br/>

                                                                    <label for="age">Age</label>
                                                                    <br/>
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           name="age"
                                                                           th:value="${user.age}"
                                                                           id="age">
                                                                    <br/>

                                                                    <label for="email">Email</label>
                                                                    <br/>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="email"
                                                                           th:value="${user.email}"
                                                                           id="email">
                                                                    <br/>

                                                                    <label for="role">Role</label>
                                                                    <select multiple class="custom-select w-100"
                                                                            size="2"
                                                                            id="role" name="role">
                                                                        <option
                                                                                th:each="role : ${roles}"
                                                                                th:value="${role.name}"
                                                                                th:text="${role}"
                                                                                th:selected="${user.roles.contains(role)}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <input type="submit" class="btn btn-primary"
                                                                   value="Edit"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:data-target="${'#delete' + user.id}">Delete
                                        </button>

                                        <div class="modal" th:id="${'delete' + user.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form th:action="@{/{id}(id=${user.id})}"
                                                          th:object="${user}" th:method="delete">

                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete user</h4>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">x
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="form-group row justify-content-center text-center">
                                                                <div class="col-sm-6">

                                                                    <label for="dId">ID</label>
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           th:value="${user.id}"
                                                                           id="dId"
                                                                           name="id"
                                                                           readonly>
                                                                    <br/>

                                                                    <label for="name">Name</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           th:value="${user.name}"
                                                                           id="dname"
                                                                           name="name"
                                                                           readonly>
                                                                    <br/>

                                                                    <label for="dLastname">Last name</label>

                                                                    <input type="text"
                                                                           class="form-control"
                                                                           th:value="${user.lastName}"
                                                                           id="dLastname"
                                                                           name="lastname"
                                                                           readonly>
                                                                    <br/>

                                                                    <label for="dusername">Username</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           th:value="${user.username}"
                                                                           id="dusername"
                                                                           name="username"
                                                                           readonly>
                                                                    <br/>

                                                                    <label for="dAge">Age</label>
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           th:value="${user.age}"
                                                                           id="dAge"
                                                                           name="age"
                                                                           readonly>
                                                                    <br/>

                                                                    <label for="dEmail">Email</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           th:value="${user.email}"
                                                                           id="dEmail"
                                                                           name="username"
                                                                           readonly>
                                                                    <br/>

                                                                    <label for="dRole">Role</label>
                                                                    <select multiple class="form-control w-100"
                                                                            size="2"
                                                                            id="dRole"
                                                                            name="roles"
                                                                            readonly>
                                                                        <option
                                                                                th:each="role : ${user.roles}"
                                                                                th:text="${role}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <input type="submit" class="btn btn-danger"
                                                                   value="Delete"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">
</body>
</html>