<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<form th:action="@{/admin/users}"
      th:object="${user}"
      th:method="post">

    <label>Name: <input type="text" th:field="*{name}"/></label><br/>
    <label>Email: <input type="email" th:field="*{email}"/></label><br/>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label>Roles:</label>
    <select th:field="*{roles}" multiple>
        <option th:each="r : ${allRoles}"
                th:value="${r.id}"
                th:text="${r.role}">ROLE</option>
    </select>
    <br/>

    <button type="submit">Create!</button>
</form>
<a th:href="@{/logout}">Exit</a>
</body>
</html>