<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:each="user : ${messages}">
    <div>
        <p>Name: <span th:text="${user.name}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <a th:href="@{/admin/users/{id}/edit(id=${user.id})}">Edit</a>
        <form th:action="@{/admin/users/{id}(id=${user.id})}"
              th:method="delete">
            <button type="submit">Delete</button>
        </form>
    </div>
    <hr/>
</th:block>

<a href="/admin/users/new">Create new person</a>
<br/>
<a th:href="@{/logout}">Exit</a>
</body>
</html>