<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="html">
<head>
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2 th:inline="text">Hello, [[${user.name}]]!</h2>
    <div>
        <p>Name: <span th:text="${user.name}">Name</span></p>
        <p>Email: <span th:text="${user.email}">Email</span></p>
        <p>Role: <span th:text="${user.roles}">Role</span></p>
    </div>
</th:block>

<a th:href="@{/logout}">Exit</a>
</body>
</html>